    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

    * {
      padding: 0;
      margin: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      box-sizing: border-box;
    }

    *::before,
    *::after {
      box-sizing: inherit;
    }

    html,
    body {
      min-height: 100vh;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Spartan', sans-serif;
      font-size: 15px;
      background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
      background-repeat: no-repeat;
      background-position: right 50vw top 0, left 55vw bottom 0;
      background-attachment: fixed;
    }

    main {
      margin: 2rem;
    }

    .cont-description,
    .cont-hits {
      margin-bottom: 3rem;
    }


    .title {
      font-weight: 700;
      font-size: 2rem;
      color: hsl(300, 43%, 22%);
      margin-bottom: 1rem;
    }

    .description {
      color: hsl(303, 10%, 53%);
      margin-bottom: 2rem;
    }

    .title,
    .description {
      text-align: center;
    }

    .description,
    .quote {
      font-weight: 400;
      font-size: 0.9rem;
      line-height: 1.6;
    }
    .stars{
      height: 20px;
      width: 85px;
      background-image: url("images/icon-star.svg");
      background-repeat: space;
      background-size: 15px auto;
      margin-bottom: 0.5rem;
    }

    .hits strong {
      color: hsl(300, 43%, 22%);
      font-weight: bold;
      font-size: 0.9rem;
    }

    .cont-hits,
    .cont-comments {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 1.2rem;
    }

    .hits {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.8rem;
      background: hsl(300, 24%, 96%);
    }

    .card-com {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: hsl(300, 43%, 22%);
      padding: 2rem;
    }

    .card-com img {
      border-radius: 50%;
      width: 50px;
      margin-right: 1rem;
    }

    .quote {
      flex: 1;
      margin-top: 1.2rem;
      color: hsl(300, 24%, 96%);
    }

    .header-card {
      display: flex;
      align-items: center;
    }

    .name {
      font-weight: bold;
      font-size: 1rem;
      color: hsl(0, 0%, 100%);
      margin-bottom: 0.2rem;
    }

    .status {
      font-size: 1rem;
      color: hsl(333, 80%, 67%);
    }

    .card-com,
    .hits {
      border-radius: 0.5rem;
    }

    @media (min-width:1000px) {
      body {
        background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat;
        background-position: right 50vw top 0, left 55vw bottom 0;
        ;
        background-attachment: fixed;
      }

      .cont-description,
      .cont-hits {
        margin-bottom: 0rem;
      }

      .content {
        display: flex;
        margin-bottom: 2rem;
      }

      .title {
        font-size: 2.8rem;
        text-align: left;
        width: 65%;
      }
      .description{
        font-size: 1.1rem;
        margin: 0;
      }

      .description {
        text-align: left;
        max-width: 80%;
      }

      .cont-hits,
      .cont-description {
        flex: 1;
      }

      main {
        max-width: 75rem;
      }

      .hits {
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
      }
   
      .cont-hits .hits:nth-child(2) {
        justify-self: center;
      }

      .cont-hits .hits:nth-child(3) {
        justify-self: flex-end;
      }

      .cont-comments {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        position: relative;
      }

      .cont-comments .card-com:nth-child(2) {
        justify-self: center;
        position: relative;
        top: 1rem;
      }

      .cont-comments .card-com:nth-child(3) {
        justify-self: flex-end;
        position: relative;
        top: 2rem;
      }
    }
